#historyTab .MuiTab-root{
    color: #fff !important;
    text-transform: capitalize !important;
    font-size: large;
    font-family: 'Clash Display', sans-serif !important;
}


#historyTab .MuiTabs-indicator{
    background: #27378c !important;
}


#historyBuyList .MuiTypography-body1{
    font-family: 'Clash Display', sans-serif !important;
}

#historyBuyList .MuiTypography-body2{
    color: white;
    font-family: 'Clash Display', sans-serif !important;
}

#subHistoryBuyList .MuiTypography-body2{
    color: gray;
}

#historyBuyList .list-end-text{
    text-align: right;
}

#historySwapList .MuiTypography-body1{
    font-family: 'Clash Display', sans-serif !important;
}

#historySwapList .MuiTypography-body2{
    color: gray;
    font-family: 'Clash Display', sans-serif !important;
}

#historySwapList .list-end-text{
    text-align: right;
}

#historySwapList .MuiListItemSecondaryAction-root{
    right: 0 !important;
}

#subHistorySwapList{
    flex: unset;
    -webkit-flex: unset
}

#subHistorySwapIconButton{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Clash Display', sans-serif !important;
    font-size: 10px;
}

#subHistorySwapIconButton .MuiButtonBase-root{
    background: #232949 !important;
    padding: 3px;
}

#subHistorySwapIconButton .MuiTypography-body2{
    color: white;
    line-height: 0px !important;
    font-size: 10px !important;
    font-family: 'Clash Display', sans-serif !important;
}