.centerDiv {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerBottonDiv {
    margin: 0;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}